* {
  box-sizing: border-box;
}

body {
  background: rgb(235, 120, 35);
  color: rgb(23, 22, 22);
  padding: 10px;
  font-family: Arial, sans-erif;
}

#all-contents {
  max-width: 800px;
  margin: auto;
}
/* navigation menu */
nav {
    background: rgb(212, 91, 18);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #100f0f;
}
/* main container area beneath menu */
main {
    background: rgb(243, 241, 244);
    display: flex;
    margin-top: 50px;
}
.sidebar {
    margin-right: 50px;
    padding: 50px;
}
.sidebar-img {
    width: 420px;
}
.content {
    flex: 1;
    padding: 15px;
}
/* interests section styles */
#interests {
    border: 0px;
    padding: 25px;
    margin-top: 25px;
    }

h2, h3 {
    margin: 0px;
}
/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #dcd5d5;
  padding: 50px;
  border-radius: 50px;
  margin-bottom: 50px;
}

#portfolio li:hover {
  background: #eb8a49;
}

#portfolio a {
  text-decoration: seashell;
  color: #000000;
}
